.key-stats-container {
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
}

.key-stats-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.stat-item {
    width: 25%;
    padding: 20px;
}

.stat-item h3 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 5px;
}

.stat-item p {
    font-size: 18px;
    color: #666;
}

@media (max-width: 768px) {
    .stat-item {
        width: 50%;
        padding: 10px;
    }
}